{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/partials/full_content.css' %}">
{% endblock %}

<div class="post-item" id="item-{{ post.id }}">
    <div class="title-container">
        <a class="title" href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
    </div>
    <div class="outer-div">
        <div class="pp-img-div">
            <a href="{% url 'user_profile' post.author.id %}">
                <img src="{{ post.author.profile_picture.url }}" alt="Profile Image" class="profile-image">
            </a>
        </div>
        <div class="info-div">
            <p class="id"><strong>Post ID:</strong> {{ post.id }}</p>
            <p class="author"><strong>Author:</strong> {{ post.author }}</p>
            <p class="date"><strong>Date:</strong> {{ post.created_at }}</p>
            <p class="category-div"><strong>Category:</strong>
                {% for category in post.categories.all %}
                    <a class="category" href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
                {% endfor %}
            </p>
        </div>
    </div>
    <hr class="inner-hr">
    <div class="post">
        <div class="post-content" id="post-{{ post.id }}">
            {{ post.content|safe }}
        </div>
    </div>
</div>