.object.adjust {
    margin-bottom:0px;
    padding-bottom:0px;
    max-width:700px;
    margin: 0 auto
}

input {
    border-radius: 5px;
    background-color: #616161;
    border: none;
    color: white;
}

.object.form {
    margin-bottom: 0px;
    display: block;
    width:50%;
    text-align: left;
    margin: 0 auto
}

.object.form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.object.form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.object {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    width: 98%
}

.object.form small {
    display: block;
    justify-content: space-between;
    max-width: 90%;
    text-align:center
}

.remember {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
}

.remember input {
    margin-right: 1px;
    position: relative;
    top: 2.3px;
}

.remember label {
    font-size: 14px;
    color: lightgray;
}

.submit_btn {
    background-color: #8a1e4a;
    color: white;
    margin-top:10px;
    padding: 13px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.submit_btn:hover {
    background-color: #630808;
}

.error {
    color: red;
}

.error-msg {
    max-width: 90%;
    text-align: center
}