h1 {
    font-size: 33px;
    color: #238527df;
    margin-bottom: 30px;
    margin-top:0px;
    text-align: center
}

.category-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.category-table th, .category-table td {
    padding: 10px;
    border: 1px solid #989898b5;
    text-align: center;
}

.category-table th {
    background-color: #716e6e45;
    font-weight: bold;
    color: #a8bc1c;
    max-width:80px;
    text-align: center;
}

.category-table tbody tr:hover {
    background-color: #e0e0e025; /* Hover sırasında açık gri arka plan */
}

.btn {
    padding: 4px ;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 80px;
    cursor: pointer;
    text-align: center
}

.btn:hover {
    background-color: #45a049;
}

.edit-btn {
    background-color: #cc7d01d0;
}

.edit-btn:hover {
    background-color: #986008c8;
}

.delete-btn {
    background-color: #cc2013be;
}

.delete-btn:hover {
    background-color: #8a0e0bd3;
}

.view-btn {
    background-color: #2196f3c7;
}

.view-btn:hover {
    background-color: #0b5d9fcd;
}

.error {
    color: #ba1313c8;
    readonly: true;
    text-align: center
}

.name:hover, .owner a:hover {
    font-weight: bold;
}

.name, .owner a {
    color: #886ff1df;
}

.form-control {
    color: #bab1e1;
    text-align: center;
    max-width: 135px;
    background-color: #000000e0;
    border-radius:5px
}

.success {
    color: #3a8f3a;
    font-weight: bold;
    text-align: center
}

.pagination {
    text-align: center;
    color: #ffffffa0;
}

.pagination .step-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination .step-links a {
    font-weight: bold;
    font-size:16px
}

.pagination .step-links a:hover {
    color: #b52d04e7;
}

td.owner, th.owner {
    min-width: 150px;
}

td.name, th.name {
    min-width: 150px;
}


