.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    word-wrap: break-word
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

strong {
    color: #80c7e6;
}

.header.adjust {
    margin-top:0px;
    margin-bottom:20px;
    font-size:80px;
    font-family: 'Tangerine', serif;
    text-align: center;
    color: #d541b4
}

.profile-details {
    display: flex;
    flex-direction: column;
    max-width:265px;
    min-width:265px;
    border: 1px solid #cccccc86;
    border-radius: 5px;
    padding:10px
}

.profile-dynamic {
    display: flex;
    flex-direction: column;
    max-width:250px;
}

.bio-text {
    margin-bottom: 10px;
    color: wheat;
    font-weight: bold
}

.edit-profile {
    display: block;
    max-width: 200px;
    min-width: 200px;
    margin-right: 30px;
    padding: 10px;
    border: 1px solid #cccccc7b;
    border-radius: 5px;
}

.profile-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 200px;
    min-width: 200px;
    height:auto;
    margin-bottom: 20px;
    margin-right: 30px;
    border: 1px solid #8e8e8ed5;
    border-radius: 5px;
    padding: 10px;
    background-color: #3c3c3c;
    word-break: break-word
}

.file-input {
    display: none;
}

.file-chosen {
    margin-left: 12px;
    margin-right: 4px;
    font-size: 14px;
    color: #b3b3b3;
    line-height:1;
    text-align:center;
}

.change-picture-btn {
    background-color: #7134b6;
    color: white;
    margin-right: 24px;
    margin-top: 20px;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.change-picture-btn:hover {
    background-color: #6c2c87;
}

.remove-picture-btn {
    background-color: #a34715c8;
    color: white;
    margin-right: 24px;
    margin-top: 20px;
    border: none;
    padding: 7px 7px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
}

.remove-picture-btn:hover {
    background-color: #7e3711c8;
}

.edit-profile-btn {
    background-color: #39829e;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin:0px
}

.edit-profile-btn:hover {
    background-color: #2e5988;
}

.settings-btn {
    background-color: #bf000094;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin:0px;
    margin-top:5px;
    color:#c5c5c5e0
}

.settings-btn:hover {
    background-color: #8a0d0db6;
}

.success {
    color: #3a8f3a;
    font-weight: bold;
    text-align: center
}

.button-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 200px;
    min-width: 200px;
    max-height: auto;
    margin-bottom: 20px;
    margin-right: 30px;
    padding: 10px;
}

.messages {
    max-width:199.5px;
    min-width:199.5px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 32px;
    padding: 10px;
}

.update-btn {
    background-color: #216831;
    color: white;
    display:inline;
    margin-top: 10px;
    margin-left: 51px;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.update-btn:hover {
    background-color: #0e6105;
}

.file-label {
    background-color: #365b83;
    color: white;
    padding: 10px 5px;
    padding-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom:0.01px;
    line-height:1;
    height:24px;
    max-width: 70px;
    min-width: 70px;
    text-align:center;
    font-family: Arial, sans-serif;
    transition: 0.1s;
}

.file-label:hover {
    background-color: #1d4671
}

.error {
    color: red
}