<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <!-- Website Icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!-- Load HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/partials/navbar.css' %}">

    {% block extra_styles %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/">
                    <img src="{% static 'images/freq.png' %}" alt="Logo" class="navbar-icon">
                </a>
            </div>

            <div class="nav-container">
                <a href="/home">Home Page</a>
                <a href="/users">Users</a>
                <a href="/posts">Posts</a>
                <a href="/comments">Comments</a>
                <a href="/categories">Categories</a>
                <a href="/tags">Tags</a>
            </div>

            <div class="nav-container nav-right">
                {% if user.is_authenticated %}
                    <a class="username-nav" href="/profile" style="color: #503450">{{ user.username }}</a>
                    <a href="/dashboard" style="color: #32770c">Dashboard</a>
                    <a href="/logout" style="color: #e44e0e">Logout</a>
                {% else %}
                    <a style="color: #e6871f;cursor:pointer"
                        hx-get="{% url 'sign_in' %}"
                        hx-target="#base"
                        hx-vals='{"source": "navbar"}'>
                        Login
                    </a>

                    <a style="color: #247193;cursor:pointer"
                        hx-get="{% url 'sign_up' %}"
                        hx-target="#base"
                        hx-vals='{"source": "navbar"}'>
                        Register
                    </a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="baseDiv" id="base">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/scroll-navbar.js' %}"></script>
</body>
</html>